.page-sidebar-menu {
    position:fixed !important;
    width:230px;
    z-index:2000 !important;
}
.theme-options h2 {
    font-size: 18px;
}
.wp-toolbar {
    margin-top: 32px !important;
}
@media (min-width: 992px)
.page-sidebar-closed .page-sidebar-menu > li:hover {
    width: 236px !important;
    position: relative !important;
    z-index: 2000;
    display: block !important;
    border: 1px solid red;
}